@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
         url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'robotoregular';

}
.reset-padding{
  padding: 0!important;
}
.reset-margin{
  margin:0!important;
}
a[class*='fa-']:before {
    display: inline-block;
    font-family: "FontAwesome", sans-serif;
    font-size: 15px;
    line-height: 1;
    width: 1em;
}
a:hover{
  text-decoration: none;
}
/***********  Components design    ****************/
.btn-c2d-primary{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  width:335px;
  padding: 15px 0px;
  background: #3EBDCC;
  border-color: #3EBDCC;
  border-radius: 8px;
}
.btn-c2d-primary:hover{
  background: #3EBDCC;
  border-color: #3EBDCC;
}
.btn-c2d-primary-md{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  width:283px;
  padding: 15px 0px;
  background: #3EBDCC;
  border-color: #3EBDCC;
  border-radius: 8px;
}
.btn-c2d-primary-md:hover{
  background: #3EBDCC;
  border-color: #3EBDCC;
}
.btn-outline-we-do{
  width:335px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 15px 0;
  color: #3EBDCC;
  border:1px solid #3EBDCC;
  border-radius:8px;
}

.container-1320{
  width: 1320px;
  max-width: 100%;
}
.container-1280{
  width: 1280px;
  max-width: 100%;
}
.container-1160{
  width: 1160px;
  max-width: 100%;
}
.container-1120{
  width: 1120px;
  max-width: 100%;
}
.container-1070{
  width: 1070px;
  max-width: 100%;
}
.container-970{
  width: 970px;
  max-width: 100%;
}


header.fixed-header{
  background: #fcfcfc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.homepage--banner header.site-header{
  padding-bottom: 134px;
}
header.site-header nav{
  background-color: transparent!important;
}
.site-navigation .navbar-nav{
  /*min-height: 50px;
  display: inline-flex;
  align-items: center;*/
  padding-top: 50px;

}
.site-navigation .navbar-brand{
  padding:45px 0 4px 0;
}
.site-navigation ul.navbar-nav li a.nav-link{
  color:#005579;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height:28px;
  padding:0;
}

.site-navigation ul.navbar-nav li{
  padding:0 48.3px 0 0;
}
.site-navigation ul.navbar-nav li:last-child{
  padding:0;
}
.site-navigation ul.navbar-nav li:hover a.nav-link{
  color:#005579;
}

/***** Submenu design *****/

.site-navigation ul.navbar-nav li ul.sub-menu li{
    list-style: none;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:last-child a.nav-link{
    background: none;
    border-radius: inherit;
    width: auto;
    color: #494D56;
    text-align: inherit;
}

.site-navigation ul.navbar-nav li.menu-item-has-children ul.sub-menu li a::after{
    content:inherit;
}
.main-nav li {
    position: relative;
}
.main-nav ul ul {
    text-align: left;
    position: absolute;
    top: calc(100% + 10px) !important;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    width:170px;
    padding: 0px 0px 0px 0px;
    border-width: 5px 0px 0px 0px;
    border-style: none;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    background: #3EBDCC;
    padding: 24px 0 29px 22px;
}
.main-nav ul li:hover > ul {
    visibility:visible;
    opacity: 1;
}
.main-nav ul.navbar-nav ul.sub-menu:before{
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  top: -6px;
  background: #3EBDCC;
}
.main-nav ul ul.sub-menu li{
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #ebebeb;
    padding: 0 0 7.5px 0;
}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link{
    padding: 10px 15px 10px 15px;
    font-family: 'futura_bk_btbook';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:#ffffff!important;
    padding:0;

}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:after {
    content: "";
    display: block;
    width: 60%;
    padding-top: 2.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: .5s;
    position:relative;
    right:5px;
}

.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:hover:after {
    width: 75%;
}
.site-navigation ul.navbar-nav li:hover ul.sub-menu li a.nav-link{
    color:#ffffff;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:hover a{
    color:#ffffff!important;
}

/******   Banner with content section 3/06/2021  ********/
.banner--with--content{
  background-color: #fcfcfc;
  background-repeat:no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-bottom: 66px;
}

.homepage--banner .banner-left-col h1{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #005579;
  margin-bottom:38px;
  max-width: 395px;
}
.homepage--banner .banner-left-col p{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #005579;
  max-width: 395px;
}

.overlap-group{
  position: relative;
  height:672px;
}
.bg-circle-shape-pattern{
  width:90%;
  height:546px;
  background:#3EBDCC;
  border-radius: 50%;
  margin:0 auto;
  position: absolute;
  top: 119px;
}

.rectangle-151 {
    left: 0;
    position: absolute;
    top: 137px;
}
.rectangle-152 {
    left: 259px;
    object-fit: cover;
    position: absolute;
    top: -7px;
}
.banner-site-icon img{
  padding-right: 28px;
  padding-bottom: 32px;
}


/*********** What we do Section 03/06/2021 ****************/
section.what-we-do{margin-bottom: 172px;}
.we-do-title--area{
  margin-bottom:82px;
}
.we-do--row{
  margin-bottom: 102px!important;
}
.we-do--row:last-child{
  margin-bottom: 0px!important;
}
.we-do--content.we-do--rightarea{
  padding-left: 99px;
}
.we-do--content.we-do--leftarea{
  padding-right: 99px;
}
.we-do-title--area h2{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color:#005579;
}
.we-do-title--area p{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #005579;
}
.we-do--picture img{
  box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.we-do--picture{
  position: relative;
}
.pic-emp-box{
  width:102px;
  height:55px;
  background:#3EBDCC;
}
.we-do--picture.we-do--leftarea .pic-emp-box{
  position: absolute;
  right: -7%;
  top: 75%;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.we-do--picture.we-do--rightarea .pic-emp-box{
  position: absolute;
  top: 75%;
  left:-5%;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.we-do--content{
  padding-top: 40px;
  padding-bottom:43px;
}
.we-do--content h3{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height:35px;
  color: #005579;
  margin-bottom:25px;
}
.we-do--content p{
  font-family: 'robotothin';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #005579;
  margin-bottom:20px;
}

.btn-outline-we-do:hover{
  background:#3EBDCC;
  border:1px solid #3EBDCC;
}

/******** Service section design 3/06/2021 ***********/
.homepageService{
  margin-bottom: 138px;
}
.homepageService h2{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #005579;
  margin-bottom:38px;
}
.homepageService p{
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #005579;
  margin-bottom:38px;
  font-family: 'robotothin';
}
/******* How do we do layout 04/06/2021 **********/
section.how-do-we-do{
  margin-bottom: 135px;
}
.how-do-bg-img{
  background: #fcfcfc url("../images/how-we-do-bg.jpg") no-repeat;
  background-position: unset;
  background-size: cover;
  position: relative;
}
.how-do-bg-img .how-do-bg-containerwrapper{
  max-width: 394px;
  position: absolute;
  bottom: 0;
  left:50%;
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
  margin-bottom:125px;
}
.how-do-bg-img .how-do-bg-containerwrapper h2{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-shadow: 0px 4px 56px #000000;
}
.how-do-bg-img .how-do-bg-containerwrapper p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-shadow: 0px 0px 44px #000000;
  margin-bottom:23px;
}
.how-do-content-section{
  padding: 198px 0 0 58px;
  background: #FFFFFF;
  box-shadow: -50px 3px 100px rgba(0, 0, 0, 0.1);
}
.how-do-content-section .how-do--contentarea{
  position: relative;
  bottom: 85px;
}
.how-do--icon-box img.compound-icon{
  width:100%;
}
.how-do--contentarea .how-do-content-description h4{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #005579;
  margin-bottom:23px;
}

.how-do--contentarea .how-do-content-description h6{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #005579;
  margin-bottom:9px;
}
.how-do--contentarea .how-do-content-description p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #005579;
  margin-bottom:0;
}
.how-do--contentarea .how-do--short-describe{
  margin-bottom:48px;
}
.how-do-content-random-images img{
  width:100%;
}

/******* Client list design section 03/06/2021 *********/
section.clients-list{
  margin-bottom: 116px;
}
.clients-list .owl-stage-outer{
  padding: 80px 124px 80px 124px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.owl-theme .owl-nav .disabled{
  opacity: 1;
}
.clients-list .owl-theme .owl-nav [class*=owl-]{
  width: 48px;
  height:48px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.clients-list .owl-nav button img{
  width:16px;
  height:16px;
}
.client-slider .owl-prev,
.client-slider .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}

/******* Testimonials design section 03/06/2021 *********/
.testimonialSlides{
  background: #ffffff;
  box-shadow: 17px 22px 67px rgba(0, 0, 0, 0.25);
  border-radius: 60px 60px 0px 0px;
  position: relative;
  top: 15px;
  z-index: 2;
}

.testimonialSlides .teamMember-lists{
  padding:101px 0 220px 101px;

}
.testimonialContents{
  padding-left: 75px;
}
.testimonialContents h3{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #005579;
  margin-bottom: 44px;
}
.testimonialContents img.icon{
  padding-right: 30px;
}
.testimonialContents img.icon:last-child{
  padding-right: 0px;
}
.teamMember-lists .c2d-teamMember-row{
  margin:0 0 51px 0;
}
.c2d-teamMember-row .c2d-teamMember--name-designation{
  margin-top: 41px;
}
.c2d-teamMember--name-designation .memberName{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.c2d-teamMember--name-designation .memberDesignation{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #878787;
}
.teamMember-lists .owl-stage-outer{
  margin-bottom:63px;
}
.teamMember-lists .memberQuotes{
  max-width: 347px;
}
.teamMember-lists .memberQuotes p{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
}
.teamMember-lists .owl-nav{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.teamMember-lists .owl-nav button img{
  width:14px;
  height:14px;
}
.teamMember-lists .owl-nav span.counter{
  padding: 0 22px;
}

/********** Service muted page design 05/06/2021 (11:00AM to 2:00PM ) Banner started web layout **********/
.innerpage--banner{
  min-height: 527px;
  background-color: #fcfcfc;
  background-position:center center;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat:no-repeat;
}
.innerPage .site-navigation ul.navbar-nav li a.nav-link{
  color:#ffffff;
}
.serviceMuted--section{
  margin-top:55px;

}
.breadcrumbs{
  list-style: none;
  display: inline-flex;
  margin-bottom: 40px;
}
ul.breadcrumbs li{
  font-family: 'robotothin';
  color:#878787;
}
.serviceMuted--section ul.breadcrumbs li a{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #878787;
  font-family: 'robotothin';
}

.breadcrumbs > li + li::before{
  color: #878787;
  content: ">" !important;
  padding: 0 5px !important;
}
.servicemuted_intropara{
  margin-bottom:58px;
}
.servicemuted_intropara p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #005579;
}
.accordion{
  margin-bottom:120px;
}
.accordion .card-header{
  background: transparent;
  padding: 0;
  border-bottom:1px solid #000000;

}
.accordion .card-header:hover{
  cursor: pointer;
}
.accordion .card-header a{
  max-width: 356px;
  width: 100%;
  display: block;
  text-align: left;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #005579;

}
.accordion .card-header a:after{
  position: absolute;
  right:0;
}
.accordion .card-header a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    color:#878787;
}
.accordion .card-header.collapsed a:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
.accordion .card-body{
  padding: 30px 0 40px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color:#005579;
}
.accordion .card-body p{
  margin-bottom:18px;
  font-family: 'robotolight'
}
.accordion .card-body h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color:#005579;
  margin: 22px 0 14px 0;
}
.accordion .card-body h3{
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color:#005579;
  margin-bottom: 12px;
}
.servicereturn-dir{
  margin-bottom:82px;
}
.servicereturn-dir a{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height:26px;
  color: #005579;
}

/********* Careers page weblayout 05/06/2021 (6:40PM ) *************/

.careers--banner header.site-header{
  padding-bottom: 209px;
}
.careers--banner .banner-left-col{
  padding-bottom: 140px;
}
.careers--banner .banner-left-col h1{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 57px;
  color: #005579;
  margin-bottom:31px;
}
.careers--banner .banner-left-col p{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #3EBDCC;
}
.bg-rectangle-shape-pattern{
  width: 260px;
  height: 231px;
  background: #3EBDCC;
  border-radius: 51px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* intro banner completed in 7:40PM (2hr)*/
.careerpager--Heading{
  margin-bottom: 135px;
}
.careerpager--Heading h2{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #005579;
  margin-bottom:50px;
}
.careerpager--Heading p{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #005579;
}
.c2d-btn-group{
  display: inline-block;
}
.c2d-btn-transparent{
  background: transparent;
  color:#3EBDCC;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height:68px;
  padding: 0;
  border:none;
  bottom:14px;

}
.c2d-btn-transparent:hover{
  background: transparent;
  color:#3EBDCC;
  text-decoration: underline;
}
.show>.btn-secondary.c2d-btn-transparent.dropdown-toggle:focus{
  background: transparent;
  color:#3EBDCC;
  border:none;
  border-color: inherit;
  box-shadow: inherit;
}
.c2d-btn-transparent.dropdown-toggle::after{
  vertical-align: .150em;
  border-top: .3em solid;
  border-right: .25em solid transparent;
  border-bottom: 0;
  border-left: .25em solid transparent;
  margin-left: 0;
}
.c2d-btn-transparent.btn-secondary.focus, .c2d-btn-transparent.btn-secondary:focus{
  background: transparent;
  color:#3EBDCC;
  border:none;
  box-shadow: inherit;
}
.c2d-btn-group .dropdown-menu{
  top:75%;
}
.position--title label{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height:68px;
  color: #005579;
  margin: 0 15px 0 0;
}
.position-filter-flex{
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 73px;
}
.position-filter-flex ul{
  margin-bottom: 4px;
}
#myBtnContainer li{
  margin-right: 40px;
}
#myBtnContainer li:last-child{
  margin-right: 0;
}
#myBtnContainer li a{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #005579;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
#myBtnContainer li.active a,#myBtnContainer li:hover a{
  color:#3EBDCC;

}
#myBtnContainer li.active a:after,#myBtnContainer li:hover a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    border-width: 0 0 1px;
    border-style: solid;

}
.careers-list-section .card-block{
  margin-bottom:25px;
}
.careers-list-section .card{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-left:5px solid #3EBDCC;
  margin-right:5px;
}
.careers-list-section .card-block:hover .card{
  cursor: pointer;
  background: #005579;
  border:none;
}
.careers-list-section .card-block:hover .card .card-body h3{
  color:#ffffff
}
.careers-list-section .card-block:hover .card .card-body label{
  color:#BBBBBB;
}
.careers-list-section .card-block:nth-child(3n+0) .card{
  margin-right:0;
}
.careers-list-section .card .card-body h3{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height:26px;
  color:#000000;
  margin-bottom:8px;
}
.careers-list-section .card .card-body label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height:20px;
  color: #BBBBBB;
}
.careers-list-section .card-block{
  display: none;
  opacity: 0;
}
.careers-list-section .card-block.show{
  transition: all 2s linear;
  display: block;
  opacity: 1;
}
.careersQuotes{
  margin-top: 121px;
  margin-bottom: 96px;
}
.careersQuotes img{
  margin-right: 32px;
  position: relative;
  bottom: 62px;
}
.careersQuotes span.quotes{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #005579;

}
.careersimg-collage-section{
  position: relative;
  margin-bottom: 144px;
}
.careersimg-collage-section .first-row{
  margin:0 0 21px 0;
}
.careersimg-collage-section .uni-img{
  box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}
.careersimg-collage-section .uni-img-one{
  width:343px;
  height:343px;

}
.careersimg-collage-section .uni-img-two
{
  width:290px;
  height:295px;
}
.careersimg-collage-section .uni-img-three
{
  width:253px;
  height:248px;

}
.careersimg-collage-section .uni-img-four
{
  width:195px;
  height:201px;
}
.col-pic-first{
  padding: 0 21px 0 0;
}
.col-pic-second{
  padding: 0;
}
.collage-left-col{
  position: relative;
  z-index: -1;
}
.collage-left-col .overlap-collage-pic{
  width:120px;
  height:146px;
  position: absolute;
  top:-75px;
  z-index: 1;
  left:-29px;
}
.careersimg-collage-section .collage-right-col p{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  font-family: 'robotolight';
  color: #005579;
}
.careersimg-collage-section .collage-right-col{
  padding: 180px 0 0 30px
}

/******* Careers form page design 06/06/2021 (5:30PM) *******/
.careersform-Section{
  margin-top:9px;
  margin-bottom:178px;
}
.careersform-Section .careersform-cover--Box{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  padding: 48px 0 132px 0;
}
.careersform-Section ul.breadcrumbs li,.careersform-Section ul.breadcrumbs li a{
  color:#005579;
  font-family: 'robotothin';
}
.careersform-Section .breadcrumbs > li + li::before{
  color:#005579;
}
.careersForm input[type=text],.careersForm input[type=email],.careersForm input[type=password],.careersForm textarea{
  display:block;
  padding: 15px 0 38px 27.5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
  height:auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #878787;
}
.careersForm textarea{
  height:218px;
}
.careersForm .form-control::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #878787;
}
.career-double--col .form-group:first-child{
  padding-right: 20px;
}
.career-double--col .form-group:last-child{
  padding-left: 20px;
}
.careersForm .form-group{
  margin-bottom: 47px!important;
}
.career-double--col .form-group,.career-single--col .form-group{
  padding:0;
  margin:0;
}
.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 78.5px;
}
.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 78.5px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}
.file-upload-wrapper:before {
    content: "Upload File";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width:48.5%;
    height:78.5px;
    background: #BBBBBB;
    border-radius: 6px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    padding: 21.5px 0;
    z-index: 25;
    text-align: center;
    pointer-events: none;
    margin-left: 20px;
}
.file-upload-wrapper:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 48.5%;
    height: 78.5px;
    pointer-events: none;
    z-index: 20;
    padding: 15px 0 0 27.5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #878787;
}
.careerform-sucess-msg{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #3EBDCC;
  margin-top:6px;
}

/******* About page design (10:30AM) *********/
.page-about .innerpage--banner{
  min-height:630px;
  background-size: 100% 100%;
}
.page-about .site-header{
  background:linear-gradient(180deg, #000000 0%, rgba(196, 196, 196, 0) 100%);
}
.aboutpageIntro-content{
  margin-top: 47px;
  margin-bottom: 150px;
}
.aboutpageIntro-content h1{
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #005579;
  margin-bottom: 34px;
}
.aboutpageIntro-content p{
  font-family: 'robotolight';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  color: #005579;
}

/* Starts 11:40 - end 12:30 */
.aboutpageAlter-content{
  margin-bottom: 215px;
}
.aboutpageAlter-content .alter-row{
  margin:0 0 235px 0;
}
.aboutpageAlter-content .alter-row:last-child{
  margin-bottom: 0;
}
.aboutpageAlter-content .alter-right-col.alterContent{
  padding-left: 150px;
  padding-right: 0;
}
.aboutpageAlter-content .alter-left-col.alterContent{
  padding-left:0px;
  padding-right:150px;
}
.aboutpageAlter-content .alterContent h2{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height:51px;
  color:#005579;
  margin-bottom: 28px;
}
.aboutpageAlter-content .alterContent p{
  font-family: 'robotolight';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  color:#005579;
  max-width: 412px;
  width: 100%;
}
.aboutpagePlaceholder-section{
  margin-bottom: 232px;
}
/* Starts 12:30 - 2:10   3:30 to 4:10   */
.ourapproach-section{
  margin-bottom:200px;
}
.ourapproach-section .approach-row-1{
  margin:0 0 47px 0;
}
.approach-content h3{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height:51px;
  color:#005579;
  margin-bottom:24px;
}
.approach-content p{
  font-family: 'robotolight';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  color: #005579;
  max-width: 412px;
}
.approach-row-1 .approach-icon{
  margin-top:150px;
}
.approach-row-2 .approach-icon{
  position: relative;
  left:104px;
}
.approach-icon .icon-box-layout{
  padding:99px 0 36px 0;
  background: #F7F7F7;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  max-width:47.5%;

}
.approach-icon .icon-box-layout:nth-child(odd){
  margin-right: 22px;
}
.approach-icon .icon-box-layout img{
  width:90px;
  margin-bottom: 32px;
}
.approach-icon .icon-box-layout p{
  font-family: 'robotothin';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #005579;
}

/* 4:30 to 5:30 */
.ourapproach-bottom-section{
  margin-bottom: 121px;
}
.ourapproach-bottom-section .alterPicture img{
  filter: drop-shadow(0px 4px 132px rgba(0, 0, 0, 0.25));
  border-radius: 60px;
  left:-95px;
  bottom:75%;

}
.aboutpageAlter-content.ourapproach-bottom-section .overlap-alter-row{
  margin-bottom:50px;
}
.overlap-alter-row .alterContent{
  margin-top:52px;
}
.overlap-alter-row .overlap-alterPicture{
  position: relative;
}
.overlap-alterPicture .movable-picture{
  position: absolute;
}


/******* Heightlight footer box *********/
.heightlight-footer-box{
  background: #F4A41D;
  overflow: hidden;
  position: relative;
  z-index: 1;

}
.box-content{
  padding: 100px 0 112px 0;
}
.box-content .box-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color:#ffffff;
  font-family: 'robotoregular';
}
.box-content .box-para{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
  font-family: 'robotoregular';
  margin:0;
}

.box-btn{
  font-family:'robotoregular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #005579;
  width:320px;
  background: #ffffff;
  border-radius: 8px;
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}

/* footer design code */
footer{
  background: #005579;
  padding: 85px 0 105px;
}
.menu-categories-container ul.menu{
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-bottom: 0;
}
.widget-content .widget-title
{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color:#F4A41D;
  margin-bottom: 18px;
}
.menu-categories-container ul.menu li{
  padding-bottom:9px;
}
.menu-categories-container ul.menu li a{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color:#ffffff;
  text-decoration: none;
}
.widget_text .icon-box{
  width:66px;
  height:66px;
  background:#F4A41D;
  margin-bottom: 20px;
}
.widget_text .icon-box i{
  color:#ffffff;
  font-size: 40px;
  position: relative;
  top: 14px;
}
.widget_text ul.address-list{
  list-style: none;
  margin-bottom: 20px;
}
.widget_text ul.socialmedia_network {
    list-style: none;
    display: inline-flex;
}
.widget_text ul.socialmedia_network li{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;

}
.widget_text ul.socialmedia_network li a{
    color:#005579;
}
.widget_text ul.address-list li
{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
}


@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}
